<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - Basic NodeJS Site</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <a href="/" class="navbar-brand">My Express Site</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to the NodeJS Basic Website</h1>
        <br>
        <button class="btn btn-lg btn-primary center-block">This button does not work!</button>
      </div>
    </div>
    <footer class="footer">
      <h4>NodeJS Basic Website - &copy; 2016-2016</h4>
    </footer>
  </body>
</html>